*{
 background-color: #D5E1EF;
}

table td
{
	background-color: white;
	border-radius: 1.5em;
}

.rectangle {
	width: 250px;
	height: 550px;
	margin: auto;
	position:absolute;
	top:0; left: 0;bottom: 0;right: 0;
	background-color: white;
	border-radius: 1.5em;
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow:  5px 10px 25px 8px rgba(63, 62, 62, 0.2);
}


#qrCode
{
	/* top right bottom left*/
	margin:20px 20px 20px;
	width: 300px;
	height: 300px;
	border-radius: 1em;
}

#title
{
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 25px;
	font-weight: 700;
	text-align: center;
	font-family: "Outfit";
	color:  hsl(218, 44%, 22%);
}

#scanCall
{
	padding-bottom: 40px;
	font-size: 15px;
	font-weight: 400;
	text-align: center;
	padding-left: 35px;
	padding-right: 35px;
	font-family: "Outfit";
	color: hsl(220, 15%, 55%)
}

